section(class="canvas section-1" id="section-1")

    h2 Section 1

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h2 What we do

                p.
                    We build modern, intuitive, and lightweight computing solutions for chemical industries. Please use engineering@coquads.com to contact us.

    +nav-1("section-2")
